/** {*/
/*    margin: 0 auto;*/
/*}*/

#table {
    border: black 5px solid;
    border-collapse: collapse;
}

.inner-table {
    margin: 0;
}

input {
    max-width: 50px;
    max-height: 20px;
}

.color-border {
    border: green 1px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*.x1:hover {*/
/*    border: red solid 1px;*/
/*}*/